@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* BASE */
:root {
    --black-purple: #2E2D31;
    --darkest-purple: #220B5E;
    --dark-purple: #3B1D98;
    --purple: #513779;
    --light-purple: #7654B4;
    --lightest-purple: #967ECB;
    --blackish: #05010B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

/* GENERIC */


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p, button {
    font-family: 'Inconsolata', monospace;
}

.box-image {
    width: 70%;
}

/* COLOR UTILITY CLASSES */

.bg-black-purple {
    background-color: var(--black-purple);
}

.bg-darkest-purple {
    background-color: var(--darkest-purple);
}

.bg-dark-purple {
    background-color: var(--dark-purple);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-light-purple {
    background-color: var(--light-purple);
}

.bg-lightest-purple {
    background-color: var(--lightest-purple);
}

.text-light {
    color: white;
}

/* HEADER */

.page-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

    .header-box-large {
        grid-column: auto / span 2;
        grid-row: auto / span 2;
        display: grid;
        place-items: center;
        aspect-ratio: 1;
    }
    
    .header-box {
        display: grid;
        place-items: center;
        aspect-ratio: 1;

        .page-title {
            font-size: 4rem;
        }
    }
}

/* HERO */

.hero-section {
    width: 100%;
    height: 700px;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;

    ::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(21, 7, 56, 0.5);
        z-index: -1;
    }

    .hero-image {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .hero-title {
        z-index: 2;
        font-size: 6rem;
        color: white;
    }
}

/* MAIN */

.main-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .main-box {
        grid-column: auto / span 1;
        grid-column: auto / span 1;
        aspect-ratio: 1;
        display: grid;
        place-items: center;
    }
    
    .main-box-wide {
        grid-column: auto / span 2;
        grid-row: auto / span 1;
        order: 1;
        aspect-ratio: 2 / 1;
        display: grid;
        place-items: center;
        
        .main-title {
            font-size: 3rem;
        }
    }
    
    .main-box-large {
        grid-column: auto / span 2;
        grid-row: auto / span 2;
        display: grid;
        place-items: center;
    }
}

/* CONTACT */

.contact-section {
    background-color: var(--blackish);
    color: white;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 3rem;

    .contact-left-container {
        display: grid;
        gap: 1rem;
        
        .contact-title {
            font-size: 3.5rem;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
        
        .contact-text {
            letter-spacing: 1px;
            line-height: 1.75rem;
            font-size: 1.5rem;
        }
    }

    .contact-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr auto;
        gap: 1rem;

        .contact-input {
            padding: 1.5rem;
            grid-column: auto / span 3;
        }
        
        .contact-textarea {
            grid-column: auto / span 3;
            flex: 1;
        }
        
        .contact-button {
            text-transform: uppercase;
            font-size: 1.5rem;
            padding: 1.5rem 2rem;
            cursor: pointer;
            background-color: var(--lightest-purple);
            color: black;
            grid-column: 3 / 4;
        }
    }
}

/* FOOTER */

.page-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5rem 3rem;
    gap: 2rem;

    .footer-title {
        grid-column: auto / span 4;
        font-weight: 400;
        font-size: 1.75rem;
    }

    .footer-article {
        flex: 1;
        color: white;
        display: flex;
        gap: .5rem;
        flex-direction: column;
        grid-column: auto / span 1;

        .footer-subtitle, .footer-text {
            font-size: 1.25rem;
        }
    }
}